
.index_body{
    background-color: #ffffff;
}

.index_header{
    text-align: center;
    height: 100px;;
    width:100%;
    background-color: antiquewhite;
    padding: 32px;
    box-shadow: 0px 4px gainsboro;
    margin-bottom: 10px;
}
.footer{
    text-align: center;
    height: 100px;;
    width:100%;
    background-color: antiquewhite;
    padding: 32px;
    vertical-align: bottom;
    z-index: 9999999;
    left: 0;
    bottom: 0;
    position: fixed;
}
.tile{
 position: relative;
 border: 1px solid black;
 border-radius: 10px;
 background-color: #d1d870;
 color: #bf0000;
 height: 150px;
 width: 200px;
 margin: 10px;
 text-align:center;
 font-size: 20px;
 box-shadow: 5px 5px gainsboro;
 cursor: pointer;
}